.dialogs {
    display: grid;
    grid-template-columns: 2fr 15fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: white;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}
